<div class="total-container">
  <app-toolbar [navMenuRef]=idOfMatSideNav class="example-toolbar"></app-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                          [style.marginTop.px]="0">
    <mat-sidenav #idOfMatSideNav [mode]="'side'"
                  [fixedInViewport]="false" fixedTopGap="56">

      <mat-action-list *ngIf="localStorage.getItem('accessToken')">
        <button mat-list-item routerLink="/login" (click)="idOfMatSideNav.toggle()">Log in</button>

        <ng-container *ngIf="getUserRole() === this.userService.roleNameToId('Admin') ||
                              getUserRole() === this.userService.roleNameToId('Barkeeper')">
          <button mat-list-item routerLink="/barkeeper/welcome">barkeeper panel</button>
        </ng-container>

        <ng-container *ngIf="getUserRole() === this.userService.roleNameToId('Admin')">
          <button mat-list-item routerLink="/admin/welcome">admin panel</button>
        </ng-container>

        <button mat-list-item routerLink="/imATeaPot">demo tour</button>
        <button mat-list-item routerLink="/score">team scores</button>
        <button mat-list-item routerLink="/login" (click)="logout();idOfMatSideNav.toggle()">Log out</button>
          
      </mat-action-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-card class="example-card">
        <router-outlet></router-outlet>
      </mat-card>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
