<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <mat-toolbar color="primary">
    <div fxHide.gt-xs>
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div>
      <span>
        Thirsty Games Frontend
      </span>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end"  fxHide.xs>
      <ul fxLayout fxLayoutGap="20px" class="navigation-items">
        <li>
          <a href="admin/welcome">
            <mat-icon class="icon">home</mat-icon>
            <span class="label">Home</span>
          </a>
        </li>
        <li>
          <a>
            <mat-icon class="icon">input</mat-icon>
            <span class="label">LogOut</span>
          </a>
        </li>
      </ul>
    </div>
    <mat-sidenav-container>
      <mat-sidenav-content>
        <mat-sidenav mode="over" opened="false">
          <mat-nav-list>
            <mat-list-item >1 Item</mat-list-item>
            <mat-list-item>2 Item</mat-list-item>
            <mat-list-item>3 Item</mat-list-item>
          </mat-nav-list>
        </mat-sidenav>
      </mat-sidenav-content>
      <span class="version-info">Current build: 0.1</span>
    </mat-sidenav-container>
  </mat-toolbar>



</div>

<!--div>
<app-top-nav class="fixed-topnav" fxHide.gt-xs></app-top-nav>
<mat-sidenav-container>
  <mat-sidenav #appDrawer mode="over" opened="false">
    <mat-nav-list>
      <app-menu-list-item >1 Item</app-menu-list-item>
      <app-menu-list-item >2 Item</app-menu-list-item>
      <app-menu-list-item >3 Item</app-menu-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <app-top-nav fxHide.xs></app-top-nav>
</mat-sidenav-container>
<span class="version-info">Current build: {{version.full ? version.full : version}}</span>

<-->


<main>
  <router-outlet></router-outlet>
</main>
