<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >

  <!-- BeverageName -->
  <ng-container matColumnDef="beverage_name">
    <th mat-header-cell *matHeaderCellDef>Beverage Name</th>
    <td mat-cell *matCellDef="let beverage" class="row"> {{beverage.beverage_name}} </td>
  </ng-container>

  <!-- Beverage Role-->
  <ng-container matColumnDef="beverage_alc">
    <th mat-header-cell *matHeaderCellDef> Alcohol</th>
    <td mat-cell *matCellDef="let beverage" class="row"> {{beverage.beverage_alc}} </td>
  </ng-container>

  <!-- Edit-button Column -->
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef class="item"></th>
    <td mat-cell *matCellDef="let beverage" class="user-button" class="row">
      <button mat-button routerLink="/beverage/{{beverage._id}}"> <mat-icon>edit</mat-icon> </button>
    </td>
  </ng-container>

  <!-- Delete Button Column -->
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef class="item"></th>
    <td mat-cell *matCellDef="let beverage" class="user-button" class="row">
      <button mat-button on-click="removeSingleBeverage(beverage)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;">
  </tr>
</table>

<div class="add-button">
  <button mat-fab color="primary" routerLink="/missing"><mat-icon>add</mat-icon></button>
</div>





