<mat-card class="example-card">
  <mat-card-header>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <p>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username" [(ngModel)]="username" name="username" required="required">
          </mat-form-field>
      </p>
      <p>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" [(ngModel)]="password"type="password" name="password" required="required">
          </mat-form-field>
      </p>
    </form>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button on-click="login()" color="primary">Log in</button>
    <button mat-raised-button routerLink="/users" color="primary">Sign in</button>
  </mat-card-actions>

</mat-card>
