<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >

  <!-- UserName -->
  <ng-container matColumnDef="user_name">
    <th mat-header-cell *matHeaderCellDef>User Name</th>
    <td mat-cell *matCellDef="let user" class="row"> {{user.user_name}} </td>
  </ng-container>

  <!-- User Role Change-->
  <ng-container matColumnDef="user_role_edit">
    <th mat-header-cell *matHeaderCellDef>User Role</th>
    <td mat-cell *matCellDef="let user" class="row">
    <!--
      <mat-form-field>
        <mat-select [(value)]="username" >
          <mat-option value="0">Admin</mat-option>
          <mat-option value="1">Barkeeper</mat-option>
          <mat-option value="2">Viewer</mat-option>
          <mat-option value="3">Springer</mat-option>
        </mat-select>
      </mat-form-field>
    -->
    {{user.user_role}}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let user; columns: displayedColumns;"></tr>
</table>





