
.list-item:hover
{
  color: blue;
}


.add-button:hover
{
  color:blue;
}


table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.edit-button {
  text-align: end;
}

.add-button {
  margin: 12px 0;
  text-align: end;
}
