<mat-card class="example-card">

<mat-toolbar class="toolbar">
  Welcome {{username}} to your personal Command Center :)
</mat-toolbar>

  <!--      MANAGE EVENTS   -->
  <div class="list-view">
    <mat-accordion class="accordion">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Manage Events
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list-item color="primary"class="list-item">
            <span class="add-button" class="position-button">
              <a href="./admin/events">
              <mat-icon class="list-item">add_circle_outline</mat-icon>
              </a>
            </span>
        </mat-list-item>
        <mat-list-item *ngFor="let event of events" color="primary"class="list-item">
          <span class="badge">{{event.event_name}}</span>
          <button mat-icon-button on-click="removeSingleUser(event)" class="position-button">
            <mat-icon matListicon >delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-expansion-panel>
    </mat-accordion>

    <!--      MANAGE TEAMS   -->

    <mat-accordion class="accordion">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Manage Teams
          </mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-accordion>

    <!--      MANAGE USERS   -->

    <mat-accordion class="accordion">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Manage Users
          </mat-panel-title>
        </mat-expansion-panel-header>
          <mat-list-item color="primary"class="list-item">
            <span class="add-button" class="position-button">
              <a href="./users">
              <mat-icon class="list-item">add_circle_outline</mat-icon>
              </a>
            </span>
          </mat-list-item>
          <mat-list-item *ngFor="let user of users" color="primary"class="list-item">
            <span class="badge">{{user.user_name}}</span>
            <button mat-icon-button on-click="removeSingleUser(user)" class="position-button">
              <mat-icon matListicon >delete</mat-icon>
            </button>
          </mat-list-item>
      </mat-expansion-panel>
    </mat-accordion>

    <!--      MANAGE BEVERAGES   -->

    <mat-accordion class="accordion">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Manage Beverages
          </mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-accordion>
  </div>


</mat-card>
