<h1>Working</h1>

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Add User Account</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form" [formGroup]="inputForm">
      <p>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username" formControlName="username" required="required">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" type="password" formControlName="password" required="required">
        <mat-error *ngIf="inputForm.hasError('required', 'password')">
          Please re-enter password
        </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" type="password" formControlName="confirmPassword" required="required" [errorStateMatcher]="matcher">
          <mat-error *ngIf="inputForm.hasError('notSame')">
            Passwords do not match
          </mat-error>
        </mat-form-field>
      </p>
    </form>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
    <mat-card-actions *ngIf="!inputForm.hasError('notSame')">
      <button mat-raised-button color="primary">Create User</button>
    </mat-card-actions>
</mat-card>


